<% usernames = %w(andrew cris nathalie nati david joe lenny alex sandrine arthur joyce lucas mansoor romain sam andy) %>

<% star1 = '<i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>' %>

<% star2 = '<i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>' %>

<% star3 = '<i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>' %>

<% star4 = '<i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>' %>

<% star5 = '<i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>
            <i class="fa fa-star filled" aria-hidden="true"></i>' %>

<% ratings = [star1, star2, star3, star4, star5] %>

<div class="service-container">
  <div class="service-user-column">
    <%= cl_image_tag @service.user.photo, height: 280, width: 280, crop: :fill, class: "service-avatar" %>
    <p class="service-name"><%= @service.user.first_name %> <%= @service.user.last_name %></p>
    <% if current_user != @service.user %>
      <%= link_to "Book", new_service_booking_path(@service), class:"btn-book-service" %>
    <% end %>
    <!-- edit and delete buttons -->
    <% if policy(@service).edit? %>
      <%= link_to "Edit", edit_service_path(@service), class: "btn btn-primary btn-lg" %>
      <%= link_to "delete", service_path(@service), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-primary btn-lg" %>
    <% end %>
    <p class="service-title"><%= @service.title %></p>
    <p class="service-description"><%= @service.description %></p>

  </div>
  <div class="service-right">
    <div class="rating-container">
      <h1>Rating overview</h1>
      <div class="rating-row">
        <div class="rating-stars">
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
        </div>
        <div class="rating-bars">
          <div class="rating-highlight" style="width:<%= (60..90).to_a.sample %>%"></div>
        </div>
      </div>
      <div class="rating-row">
        <div class="rating-stars">
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="rating-bars">
          <div class="rating-highlight" style="width:<%= (60..80).to_a.sample %>%"></div>
        </div>
      </div>
      <div class="rating-row">
        <div class="rating-stars">
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="rating-bars">
          <div class="rating-highlight" style="width:<%= (33..88).to_a.sample %>%"></div>
        </div>
      </div>
      <div class="rating-row">
        <div class="rating-stars">
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="rating-bars">
          <div class="rating-highlight" style="width:<%= (10..45).to_a.sample %>%"></div>
        </div>
      </div>
      <div class="rating-row">
        <div class="rating-stars">
          <i class="fa fa-star filled" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="rating-bars">
          <div class="rating-highlight" style="width:<%= (5..60).to_a.sample %>%"></div>
        </div>
      </div>
    </div>
    <div class="service-reviews-container">
    <h1>Reviews</h1>
      <!-- start review -->
      <div class="review-container">
        <div class="review-details">
          <!-- reviewers avatar -->
          <%= cl_image_tag @service.user.photo, height: 40, width: 40, crop: :fill, class: "review-avatar" %>
          <!-- reviewers name -->
          <p class="review-username"><%= usernames.sample %></p>
          <!-- reviewer rating stars -->
          <div class="review-stars-container">
            <%= ratings.sample.html_safe %>
          </div>
        </div>
        <div class="review-up-arrow"></div>
        <div class="review-content">
          <div class="review-bubble">
              <!-- the review content -->
              Such a great cat sitter! My cat was so happy and they watered the plants in my apartment too. Will definitly use again. Good price too!
          </div>
        </div>
      </div>
      <!-- end review -->

      <!-- start review -->
      <div class="review-container">
        <div class="review-details">
          <!-- reviewers avatar -->
          <%= cl_image_tag @service.user.photo, height: 40, width: 40, crop: :fill, class: "review-avatar" %>
          <!-- reviewers name -->
          <p class="review-username"><%= usernames.sample %></p>
          <!-- reviewer rating stars -->
          <div class="review-stars-container">
            <%= ratings.sample.html_safe %>
          </div>
        </div>
        <div class="review-up-arrow"></div>
        <div class="review-content">
          <div class="review-bubble">
              <!-- the review content -->
              Such a great cat sitter! My cat was so happy and they watered the plants in my apartment too. Will definitly use again. Good price too!
          </div>
        </div>
      </div>
      <!-- end review -->

      <!-- start review -->
      <div class="review-container">
        <div class="review-details">
          <!-- reviewers avatar -->
          <%= cl_image_tag @service.user.photo, height: 40, width: 40, crop: :fill, class: "review-avatar" %>
          <!-- reviewers name -->
          <p class="review-username"><%= usernames.sample %></p>
          <!-- reviewer rating stars -->
          <div class="review-stars-container">
            <%= ratings.sample.html_safe %>
          </div>
        </div>
        <div class="review-up-arrow"></div>
        <div class="review-content">
          <div class="review-bubble">
              <!-- the review content -->
              Such a great cat sitter! My cat was so happy and they watered the plants in my apartment too. Will definitly use again. Good price too!
          </div>
        </div>
      </div>
      <!-- end review -->

      <!-- start review -->
      <div class="review-container">
        <div class="review-details">
          <!-- reviewers avatar -->
          <%= cl_image_tag @service.user.photo, height: 40, width: 40, crop: :fill, class: "review-avatar" %>
          <!-- reviewers name -->
          <p class="review-username"><%= usernames.sample %></p>
          <!-- reviewer rating stars -->
          <div class="review-stars-container">
            <%= ratings.sample.html_safe %>
          </div>
        </div>
        <div class="review-up-arrow"></div>
        <div class="review-content">
          <div class="review-bubble">
              <!-- the review content -->
              Such a great cat sitter! My cat was so happy and they watered the plants in my apartment too. Will definitly use again. Good price too!
          </div>
        </div>
      </div>
      <!-- end review -->

      <!-- start review -->
      <div class="review-container">
        <div class="review-details">
          <!-- reviewers avatar -->
          <%= cl_image_tag @service.user.photo, height: 40, width: 40, crop: :fill, class: "review-avatar" %>
          <!-- reviewers name -->
          <p class="review-username"><%= usernames.sample %></p>
          <!-- reviewer rating stars -->
          <div class="review-stars-container">
            <%= ratings.sample.html_safe %>
          </div>
        </div>
        <div class="review-up-arrow"></div>
        <div class="review-content">
          <div class="review-bubble">
              <!-- the review content -->
              Such a great cat sitter! My cat was so happy and they watered the plants in my apartment too. Will definitly use again. Good price too!
          </div>
        </div>
      </div>
      <!-- end review -->

      <!-- start review -->
      <div class="review-container">
        <div class="review-details">
          <!-- reviewers avatar -->
          <%= cl_image_tag @service.user.photo, height: 40, width: 40, crop: :fill, class: "review-avatar" %>
          <!-- reviewers name -->
          <p class="review-username"><%= usernames.sample %></p>
          <!-- reviewer rating stars -->
          <div class="review-stars-container">
             <%= ratings.sample.html_safe %>
          </div>
        </div>
        <div class="review-up-arrow"></div>
        <div class="review-content">
          <div class="review-bubble">
              <!-- the review content -->
              Such a great cat sitter! My cat was so happy and they watered the plants in my apartment too. Will definitly use again. Good price too!
          </div>
        </div>
      </div>
      <!-- end review -->
    </div>
  </div>
</div>
