<h1>Create Booking</h1>

<div class="container">
    <%= simple_form_for [@service, @booking] do |f| %>
      <%= f.input :date %>
      <%= f.input :category, prompt: [ "Sitting" ], collection: [ "Sitting", "Walking", "Grooming"] %>
      <%= f.input :postcode %>
      <%= f.submit "Create Booking" %>
    <% end %>
</div>

