<div class="navbar-pet <% if current_page?(root_path) %>transparent-nav<% end %>">

  <%= link_to root_path, class: "navbar-pet-brand" do %>
    <div class="logo-circle">
      <i class="fa fa-paw" aria-hidden="true"></i>
    </div>
    <div id="logo-text" class="logo-text <% if current_page?(root_path) %>white-logo<% end %>">Pet Boom!</div>
  <% end %>

<div class="navbar-pet-middle">
  <a href="" class="nav-category-pet navbar-pet-link">
    <%= image_tag("walk.png") %>
  </a>
  <a href="" class="nav-category-pet navbar-pet-link">
    <%= image_tag("sitting.png") %>
  </a>
  <a href="" class="nav-category-pet navbar-pet-link">
    <%= image_tag("grooming.png") %>
  </a>
</div>
  <!-- Right Navigation -->
  <div class="navbar-pet-right">

    <% if user_signed_in? %>
      <%= link_to('Create', new_service_path, class: "btn btn-primary") %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-pet-item navbar-pet-link") %>
    <% else %>
      <%= link_to('Sign up', new_user_registration_path, class: "btn btn-primary") %>
      <% if current_page?(root_path) %>
        <%= link_to('Login', new_user_session_path, class: "btn btn-white ", id: "login-btn") %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: "btn btn-white btn-to-blue") %>
      <% end %>
    <% end %>

  </div>
</div>
